@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#fuzz-urlbar-icon[objectsDetected] {
  list-style-image: url("chrome://fuzz/content/fuzz16-online.png");
}

#fuzz-status-image {
   list-style-image: url("chrome://fuzz/content/fuzz16-online.png");
}

#fuzz-status-image[disabled="true"] {
   list-style-image: url("chrome://fuzz/content/fuzz16-offline.png");
}
